.task-form-wrapper {
  width: 100%;
  .task-title-input {
    height: 100%;
    width: 100%;
  }
}

.avatar-option {
  height: 34px;
  line-height: 34px;
}

.project-info {
  height: 34px;
  line-height: 34px;
}