.ant-menu-item > a {
  display: inline;
}

.header {
  background: #fff;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  width: 100vw;
  z-index: 2;
  .top-nav-header-container {
    position: relative;
    width: 100%;
    height: 64px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, width 0.2s;
    .top-nav-header-main {
      display: flex;
      height: 64px;
      max-width: 1200px;
      margin: auto;
      padding-left: 0;
      .top-nav-header-left {
        .logo {
          position: relative;
          min-width: 165px;
          height: 64px;
          overflow: hidden;
          line-height: 64px;
          transition: all 0.3s;
          img {
            width: 32px;
            height: 32px;
          }
          h1 {
            color: #002140;
            display: inline-block;
            margin: 0 0 0 12px;
            font-weight: 400;
            font-size: 16px;
            vertical-align: top;
          }
        }
      }
      .top-nav-header-menu {
        flex: 1 1 0%;
        overflow: hidden;
        .ant-menu.ant-menu-horizontal {
          height: 63px;
          line-height: 63px;
          border: none;
        }
      }
      .top-nav-header-right {
        float: right;
        height: 100%;
        overflow: hidden;
        .header-actions {
          display: inline-block;
          position: relative;
          height: 64px;
          line-height: 64px;
          padding: 0 16px;
          cursor: pointer;
          color: #222222;
          .username {
            margin-left: 10px;
          }
        }
        .header-actions:hover {
          background: rgba($color: #000000, $alpha: 0.025);
        }
      }
    }
  }
}

.basic-layout-content {
  position: relative;
  transition: all 0.2s;
  margin: 24px;
  .layout-content-wrap {
    .content {
      width: 100%;
      min-height: 100%;
      transition: 0.3s;
      max-width: 1200px;
      margin: 0px auto;
    }
  }
}

.message-overlay-container {
  width: 336px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tab-list {
  .ant-tabs-nav-scroll {
    text-align: center;
  }
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  .message-list-item {
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #e6f7ff;
    }
  }
  .message-list-item-readed {
    opacity: 0.4;
  }
  .message-title {
    font-weight: 400px;
    margin-bottom: 8px;
  }
  .no-result {
    padding: 73px 0 88px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
  }
  .message-desc {
    font-size: 12px;
    line-height: 1.5;
  }
  .sendtime {
    font-size: 12px;
  }
  .message-footer {
    display: flex;
    height: 46px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 46px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
    transition: all 0.3s;
    div {
      display: inline-block;
      width: 50%;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:not(:only-child):last-child {
        border-left: 1px solid #e8e8e8;
      }
    }
  }
}
