.story-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #52c41a;
  font-size: 12px;
  width: 18px;
  height: 18px;
  color: #fff;
}


.bug-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #e1201a;
  font-size: 12px;
  width: 18px;
  height: 18px;
  color: #fff;
}