.detail-content {
  box-sizing: border-box;
  width: 100%;
  width:800px;
  margin: 24px auto;
  padding: 20px 40px;
  overflow: auto;
  background-color: #fff;
  border-right: solid 1px #eee;
  border-left: solid 1px #eee;
  img audio video {
    max-width: 100%;
    height: auto;
  }
  p {
    white-space: pre-wrap;
    min-height: 1em;
  }
  pre {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  blockquote{
    margin: 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-left: 3px solid #d1d1d1;
  }
}


.docDetail-header {
  background: #fff;
  margin-left: -24px;
  margin-right: -24px;
}
